.about-us-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: calc(100vh - 66px);
  gap: 4em;
  background-image: url("background-images/tech_background.jpg");
  background-position: 20% 85%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  background-size: cover;
  width: 100%;
}

.left {
  height: 25em;
  width: 45%;
}

.left-container {
  height: 100%;

  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #202123d3;
}

.left-container > * {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.right img {
  max-width: 44.63em;
}

.contributors-description {
  text-align: center;
  display: block;
  grid-template-columns: auto auto auto;
  column-gap: 2rem;
  row-gap: 1rem;
}

h1 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.contributors-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contributors-title {
  text-align: center;
}

.about-title {
  text-align: center;
}

@media only screen and (max-width: 1100px) {
  .contributors-description {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 1000px) {
  .about-us-container {
    flex-direction: column;
  }
  .left {
    width: 87%;
    height: 20em;
    align-items: center;
    display: flex;
  }

  .left-container {
    flex-direction: row;
    width: 100%;
    height: 70%;
  }

  .about-container {
    width: 50%;
  }

  .about-title {
    width: 100%;
  }
}

@media only screen and (max-width: 750px) {
  .contributors-description {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    text-align: center;
  }

  .left-container {
    flex-direction: column;
  }

  .contributors-description {
    grid-template-columns: auto auto;
  }

  .about-container {
    width: 90%;
  }

  .contributors-container {
    width: 95%;
  }

  .about-us-container {
    justify-content: space-evenly;
    gap: 2em;
  }
}

@media only screen and (max-width: 350px) {
  .about-us-container {
    min-height: 110vh;
    max-height: 120vh;
  }
}
