@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

:root {
  --font-size-small: 1.25rem;
  --font-size-medium: 1.75rem;
  --font-size-large: 2.5rem;

  --font-size-large-phone: 1.5rem;
  --font-size-small-phone: 0.75rem;
  --font-size-medium-phone: 1rem;
}

body {
  background-color: #121212;
  color: #CDD1CC;
  font-family: "Roboto", sans-serif;
}

body h1 {
  color: rgba(255, 255, 255, 0.80);
}

a:link {
  color: #26dda6;
  text-decoration: none;
  background-color: transparent;
}

a:visited {
  color: #26dda6;
  /* background-color: transparent; */
  text-decoration: none;
}

a:hover {
  color: #3bba9cec;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

#landing-page-title {
  font-family: "JetBrains Mono ExtraBold", sans-serif;
  font-size: var(--font-size-large);
}

/* Register CTA */
.register-cta {
  display: flex;
  height: 25em;
  justify-content: space-between;
  padding: 0.625em 2.5em 0.625em 1.25em;
  align-items: center;
  /*background-image: url("background-images/homeless-camp.jpg");*/
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  /* background-color: rgb(255, 255, 255); */
}

.register-cta h1 {
  display: block;
  max-width: 50rem;
  height: 50%;
  border-radius: 0.9375em 3.125em 1.875em;
  font-size: var(--font-size-large);
  letter-spacing: 2px;
  line-height: 2.875rem;
  color: whitesmoke;
  text-align: center;
  background: #3b3b3b;
  border-top-right-radius: 0.625em;
  border-bottom-right-radius: 0.625em;
  display: flex;
  align-items: center;
}

#right-register-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#right-register-buttons a {
    color: black;
    background: #0dce8a;
}

#right-register-buttons a:hover {
  background: #3bba9cec;
}

#right-register-buttons a:last-child {
  margin-top: 2.5em;
}

/* Business Process */
.business-process {
  min-height: 21.875em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3.75em;
  border-radius: 1.5625em;
  border-bottom-right-radius: 0px;
  background: url("background-images/tents.svg");
  background-repeat: no-repeat;
  background-size: 9.375em 9.375em;
  background-position: bottom left 3em;
  background-color: #3b3b3b;
}

.business-process h2 {
  font-size: var(--font-size-medium);
  margin-bottom: 1.25em;
  margin-top: 1.25em;
}

.business-process li {
  list-style-type: none;
  font-size: var(--font-size-small);
  line-height: 3.125rem;
}

.business-process li i {
  margin-right: 0.9375em;
}

#business-process-li-1 {
  margin-left: 5%;
}

#business-process-li-2 {
  margin-left: 25%;
}

#business-process-li-3 {
  margin-left: 45%;
}

#business-process-li-4 {
  margin-left: 65%;
}

/* Homeless Advantages */
.homeless-advantages {
  min-height: 25em;
  display: flex;
  width: 100%;
  /* background-color: rgb(255, 255, 255); */
  justify-content: space-evenly;
}

#homeless-advantages-title {
  color: rgba(255, 255, 255, 0.87);
}

.homeless-advantages-left {
  width: 100%;
  padding-left: 3.75em;
  /* padding-top: 60px; */
  display: flex;
  align-items: center;
}

.homeless-advantages-left ul {
  padding-left: 0;
}

.homeless-advantages-left li {
  font-size: var(--font-size-small);
  color: rgba(255, 255, 255, 0.87);
  /*list-style-type: none; */
  line-height: 4.375rem;
}

.homeless-advantages-left li span {
  font-weight: 700;
}

.homeless-advantages-right {
  height: 100%;
}

.homeless-advantages-right img {
  max-height: 25em;
}

/* Donator Advantages */
.donator-advantages {
  min-height: 25em;
  display: flex;
  border-radius: 1.5625em;
  background-color: darkslategray;
}

.donator-advantages-left {
  height: 100%;
}

.donator-advantages-left img {
  max-height: 25em;
}

.donator-advantages-right {
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  /* background: url("background-images/nurse.svg");
  background-repeat: no-repeat;
  background-size: 20em; */
}

.donator-advantages-right ul {
  padding-right: 2em;
}

.donator-advantages-right li {
  font-size: var(--font-size-medium);
  list-style-type: none;
  line-height: 4.375rem;
}

/* Reviews */
.reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 21.875em;
  gap: 2.5em;
  background-color: rgb(240, 242, 245);
}

.reviews i {
  font-size: var(--font-size-large);
  margin-top: 3.28125em;
  align-self: flex-start;
  color: rgba(255, 255, 255, 0.87);
}

.review {
  width: 18.75em;
  height: 16em;
  background-color: rgba(255, 255, 255, 0.87);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 5px 10px rgb(153, 156, 161);
}

.review p {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-small);
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.review p:last-child {
  margin-top: 2.5em;
}

/* Footer */
footer {
  width: 100%;
  color: white;
  height: 2.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

footer p {
  margin: 0;
  text-align: center;
}

/***************** Additional Media Query for small Desktops *************/

@media (max-width: 1100px) {
  .register-cta {
    display: flex;
    flex-direction: column;
    /* gap: 0; */
    height: 17em;
    justify-content: space-evenly;
  }

  #right-register-buttons {
    flex-direction: row;
    width: 100%;
    align-items: space-between;
  }

  #right-register-buttons a {
  }

  #right-register-buttons a:last-child {
    margin-top: 0px;
  }
}

/***************** Tablet Media Query *************/

/* Mobile Media Query */

@media (max-width: 991px) {
  body {
    width: 100%;
  }

  .register-cta {
    background-size: cover;
    background-position: left;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    height: 25em;
    padding: 0.625em 0.625em 0.625em 0.625em;
  }

  .register-cta br {
    display: none;
  }

  .register-cta h1 {
    text-align: center;
    width: 90%;
    height: 50%;
    display: flex;
    align-items: center;
    font-size: 2rem;
  }

  #right-register-buttons {
    flex-direction: row;
    gap: 4em;
  }

  #right-register-buttons a {
    margin-top: 1.7em;
    display: flex;
    align-items: center;
  }

  #right-register-buttons a:last-child {
    margin-top: 1.7em;
  }

  /* Business Process */

  .business-process {
    background-position: top left 3em;
    background-size: 8em 8em;
    padding-left: 0;
  }

  .business-process h2 {
    text-align: center;
    font-size: var(--font-size-medium);
  }

  #business-process-li-1 {
    margin-left: 0;
  }

  #business-process-li-2 {
    margin-left: 0;
  }

  #business-process-li-3 {
    margin-left: 0;
  }

  #business-process-li-4 {
    margin-left: 0;
  }

  /* homeless-advantages */
  .homeless-advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #homeless-advantages-title {
    text-align: center;
    margin: 2.1875rem 0 2.1875rem 0;
    font-size: var(--font-size-medium);
  }

  .homeless-advantages li {
    font-size: var(--font-size-large-phone);
    list-style-type: none;
    line-height: 3.403rem;
  }

  .homeless-advantages li:first-child {
    text-align: center;
  }

  .homeless-advantages-right img {
    max-width: 100%;
  }

  .homeless-advantages-left {
    padding: 0;
  }

  .homeless-advantages-left ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .homeless-advantages-left ul li {
    width: 90%;
    text-align: center;
  }

  /* donator-advantages */
  .donator-advantages {
    flex-direction: column;
  }

  .donator-advantages-right {
    order: 1;
  }

  .donator-advantages-left {
    margin: 0 auto;
  }

  .donator-advantages-left img {
    max-width: 100%;
  }

  .donator-advantages-right {
    background-size: 10em;
  }

  .donator-advantages-right ul {
    width: 100%;
  }

  .donator-advantages-right li {
    text-align: center;
    font-size: var(--font-size-large-phone);
  }

  /* Reviews */
  .reviews {
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .review {
    min-width: 80%;
    height: 10em;
  }

  .reviews i {
    display: none;
  }

  .review p:last-child {
    margin-top: 1em;
  }
}

/**************** Mobile phone Media Query **************/
@media (max-width: 500px) {
  /* Register section */
  .register-cta h1 {
    font-size: var(--font-size-medium);
    min-height: 30%;
  }

  #right-register-buttons {
    flex-direction: row;
    gap: 1em;
  }

  /* Business Process section */

  .business-process {
    background-position: top left 0.5em;
  }

  .business-process ol {
    padding-left: 1em;
    padding-right: 1em;
  }

  /* Homeless Advantages section */
  .homeless-advantages-left {
    padding-left: 1em;
    padding-right: 1em;
  }

  .homeless-advantages li {
    font-size: var(--font-size-small);
    list-style-type: none;
    line-height: 2.431rem;
  }

  /* Donator Advantages section */
  .donator-advantages-right li {
    font-size: var(--font-size-large-phone);
    line-height: 3.403rem;
    text-align: center;
  }

  /* Reviews section */
  .review p {
    font-size: var(--font-size-medium-phone);
  }
}

/**************** Mobile phone Media Query **************/
@media (max-width: 450px) {
  /* Register section */
  .register-cta h1 {
    font-size: var(--font-size-medium);
  }

  #right-register-buttons {
    flex-direction: row;
    gap: 1em;
  }

  /* Business Process section */

  .business-process {
    background-position: top left 0.5em;
  }

  .business-process ol {
    padding-left: 1em;
    padding-right: 1em;
  }

  /* Homeless Advantages section */
  .homeless-advantages-left {
    padding-left: 1em;
    padding-right: 1em;
  }

  .homeless-advantages li {
    font-size: var(--font-size-small);
    list-style-type: none;
    line-height: 2.431rem;
  }

  /* Donator Advantages section */
  .donator-advantages-right li {
    font-size: var(--font-size-large-phone);
    line-height: 3.403rem;
    text-align: center;
  }

  /* Reviews section */
  .review p {
    font-size: var(--font-size-medium-phone);
  }
}