{% include 'base.html' %}

{% load static %}

{% block content %}

{% block css %}
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static '/contact/contact_styles.css' %}??{% now 'U' %}" />
    
{% endblock %}


<!--Title for the page-->
<div id="container">
    



    <!--Form-->

    <div class="form group py-1" id="body-wrapper" style="">
        
        <div class="row justify-content-center align-items-center" style="border-radius: 2rem;">

            <div class="h-100 card" id="inner-form-wrapper">
                <div class="row" style="width: 100%;">
                    <div class="col-lg-7 mx-auto text-center">
                        <h1 style="color: #CDD1CC;">Contact Form</h1>
                    </div>
                </div>
                <div class="col-lg-7 mx-auto text-left pt-2 50em">
                    <div class="col col-lg-10 col-xl-1" style="color: #CDD1CC; width: 100%;" >
                        
                    <form action="" method="post" id="contact-form" style="display: flex; flex-direction: column;">
                        {% csrf_token %}
                        {{ form }}
                        <input type="submit" value="Submit" class="btn btn-outline-dark rounded-pill btn-sm" style=" background-color: #26dda6;">
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hiddenFields" style="display: none">
    <div id="email_field">{{request.user.email}}</div>
    <div id="username_field">{{request.user.username}}</div>
</div>

{% if request.user.is_authenticated %}
    <script src="../static/contact/app.js"></script>
    
{% endif %}
{% endblock %}
