{% include 'base.html' %}

{% load static %}

{% block content %}

    {% block css %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
        <link rel="stylesheet" type="text/css" href="{% static '/contact/contact_styles.css' %}??{% now 'U' %}"/>
        <script src="{% static '/contact/contact_app.js' %}??{% now 'U' %}"></script>

    {% endblock %}


    <!--Title for the page-->
    <div id="container">
        <!--Form-->

        <div class="form group py-1" id="body-wrapper">

            <div class="row justify-content-center align-items-center" id="outer-form-wrapper"
                 style="border-radius: 2rem;">

                <div class="h-90 card" id="inner-form-wrapper">
                    <div class="d-flex justify-content-center mt-4" id="title-outer-wrapper">
                        <div class="col-lg-7 mx-auto text-center" id="title-inner-wrapper">
                            <h1 style="color: #CDD1CC;" id="title-form">Contact Form</h1>
                            <div style="color: #CDD1CC;">
                                <p>Need Help? - Want to Help? - Need to get in touch with us?</p>
                                <p>Reach out to us here!</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-7 mx-auto text-left pt-2 inner-content" id="form-outer-body-wrapper">
                        <div class="col col-lg-10 col-xl-1" style="color: #CDD1CC; width: 100%;"
                             id="form-inner-body-wrapper">

                            <form action="" method="post" id="contact-form"
                                  style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                                {% csrf_token %}

                                {% if user.is_authenticated %}
                                    <label class="form-label" for="id_username">Username:</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-transparent"><i class="fas fa-user fa-lg"></i></span>
                                        <input class="form-control form-rounded" type="text" name="username"
                                               maxlength="100" required="" id="id_username" placeholder="Enter Username"
                                               value="{{ user.username }}">
                                    </div>
                                {% endif %}

                                {% if user.is_authenticated %}
                                    <label class="form-label" for="id_email">Email:</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-transparent"><i
                                                class="fa-solid fa-envelope fa-lg"></i></span>
                                        <input class="form-control form-rounded" type="email" name="email"
                                               maxlength="254" required="" id="id_email"
                                               placeholder="Enter Email Address" value="{{ user.email }}">
                                    </div>
                                {% else %}
                                    <label class="form-label" for="id_email">Email:</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text bg-transparent"><i
                                                class="fa-solid fa-envelope fa-lg"></i></span>
                                        <input class="form-control form-rounded" type="email" name="email"
                                               maxlength="254" required="" id="id_email"
                                               placeholder="Enter Email Address">
                                    </div>
                                {% endif %}

                                <label class="form-label" for="id_subject">Subject:</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text bg-transparent"><i
                                            class="fa-solid fa-envelope-open-text fa-lg"></i></span>
                                    <input class="form-control form-rounded" type="text" name="subject" maxlength="255"
                                           required="" id="id_subject" placeholder="Enter Subject">
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label" for="id_message">Message:</label>
                                    <textarea class="form-control form-rounded" name="message" cols="60" rows="10"
                                              required="" id="id_message"></textarea>
                                </div>

                                <div class="d-flex justify-content-center mb-2">
                                    <div class="g-recaptcha" data-sitekey="6Ld0wFYfAAAAADaMx0MczUKY_Lj1djKQZoMYmr49"
                                         data-callback="Verify"></div>
                                </div>
                                <div class="d-flex justify-content-center mb-3">
                                    <input type="submit"
                                           class="g-recaptcha btn btn-primary rounded-pill btn-sm px-5"
                                           id="form-submit"
                                           data-sitekey="6Lfyj1QiAAAAAGJ8-iFk22fmSJu8p4gmAdhKBE5E"
                                           data-callback='onSubmit'
                                           data-action='submit'>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hiddenFields" style="display: none">
        <div id="email_field">{{ request.user.email }}</div>
        <div id="username_field">{{ request.user.username }}</div>
    </div>

    <script src="https://www.google.com/recaptcha/enterprise.js?render=6Lfyj1QiAAAAAGJ8-iFk22fmSJu8p4gmAdhKBE5E"></script>

    <script>
        grecaptcha.enterprise.ready(function () {
            grecaptcha.enterprise.execute('6Lfyj1QiAAAAAGJ8-iFk22fmSJu8p4gmAdhKBE5E', {action: 'contact'}).then(function (token) {
                function onSubmit(token) {
                    document.getElementById("form-submit").submit();
                }
            });
        });
    </script>


    <script src="https://www.google.com/recaptcha/api.js" async defer></script>


{% endblock %}
