
{% include 'base.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static '/contact/password_reset.css' %}??{% now 'U' %}" />

{% endblock %}

{% block content %} 
  
  <!--Password Reset Complete-->
    <!-- <div class="container p-4">
	    <h2 class="font-weight-bold mt-3">Password reset complete</h2>
		<hr>
        <p>Your password has been set. You may go ahead and log in now.</p>                 
        <a href="/login" class="btn btn-primary">Log in</a>
    </div> -->
    <div class="container h-100">
      <div class="d-flex row justify-content-center align-items-center">
        <div class="col col-md-4 col-md-offset-4" style="height: 25rem;">
          <div class="panel panel-default" style="margin-top: 5rem;">
            <div class="panel-body">
              <div class="text-center">
                <h3><i class="fa fa-lock fa-3x"></i></h3>
                <h2 class="text-center">Password reset complete</h2>
                <p>Your password has been set. You may log in now.</p>
                <div class="panel-body">
                  <div class="form-group mt-5">
                    <a href="{% url 'login' %}" class="btn rounded-pill btn-md px-4" id="form-submit" value="Login">Login</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


{% endblock %}