{% include 'base.html' %}

{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static '/contact/password_reset.css' %}??{% now 'U' %}" />

{% endblock %}

{% block content %}
  
  <!--Password Reset Confirm-->
  <div class="container h-100">
	<div class="d-flex row justify-content-center align-items-center">
		<div class="col col-md-4 col-md-offset-4" style="height: 30rem;">
            <div class="panel panel-default mt-5">
              	<div class="panel-body">
                	<div class="text-center">
                  		<h3><i class="fa fa-lock fa-3x"></i></h3>
                  		<h2 class="text-center">Forgot Password?</h2>
                  		<p>You can reset your password here.</p>
                  		<div class="panel-body">
    
                    		<form id="register-form" role="form" class="d-flex row justify-content-center" method="post">
                                {% csrf_token %}
                                <div class="col-lg-10 mb-2">
                                    <label class="form-label" for="new_password1" style="color: #CDD1CC;">New Password</label>
									<div class="input-group">
                                        <span class="input-group-text"><i class="fas fa-lock fa-lg"></i></span>
                                        <input type="password" name="new_password1" autofocus="" class="form-control form-control-lg form-rounded" placeholder="New Password" autocapitalize="none" autocomplete="new-password" maxlength="150" required="" id="id_new_password1" pb-role="new_password1">
                                    </div>
                                </div>
                                <div class="col-lg-10 mb-2">
                                    <label class="small mb-1" for="new_password2" style="color: #CDD1CC;">Confirm Password</label>
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="fas fa-lock fa-lg"></i></span>
                                        <input type="password" name="new_password2" autofocus="" class="form-control form-control-lg form-rounded" placeholder="Confirm Password" autocapitalize="none" autocomplete="new-password" maxlength="150" required="" id="id_new_password2" pb-role="new_password2">
                                    </div>
                                </div>
                                <div class="form-group mt-3">
									<input type="submit" class="btn btn-primary rounded-pill btn-md px-4" id="form-submit" value="Reset Password"></input>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
        </form>
    </div>

{% endblock %}