<!-- Banner Section -->
<div class="register-cta">
    <h1>Join a Community of Thousands and <br>Start Receiving Donations Today </h1>
    <div id="right-register-buttons">
      <a class="btn btn-primary btn-lg" href="{% url 'register' %}" role="button">Register Now</a>
      <a class="btn btn-primary btn-lg" href="{% url 'show-all-users' %}" role="button">See Users in the Area</a>
    </div>
</div>

<!-- About Section -->
<div class="business-process">
    <h2>How It Works</h2>
    <ol>
      <li id="business-process-li-1"><i class="fas fa-bed"></i> Visit a participating homeless shelter</li>
      <li id="business-process-li-2"><i class="fas fa-laptop-house"></i> Create an Online Profile and Print out QR sticker</li>
      <li id="business-process-li-3"><i class="fas fa-qrcode"></i> Place Sticker on Visible Sign and Let Passerbys Scan QR Code</li>
      <li id="business-process-li-4"><i class="fas fa-mobile-alt"></i> Receive Web Traffic to Your Personalized Profile Page</li>
    </ol>
</div>

<div class="homeless-advantages">

    <div class="homeless-advantages-left">
      <ul>
          <li><span><a href="{% url 'register' %}">Sign Up Today!</a></span></li>
          <li>Improve Your Life and Well-being</li>
          <li>Build an Online Presence through Story Telling</li>
      </ul>
    </div>

    <div class="homeless-advantages-right">
      <img src="/media/home_page/homeless-walking.jpg" alt="">
    </div>

</div>

<div class="donator-advantages">
    <div class="donator-advantages-left">
      <img src="/media/home_page/food-shelter.jpeg" alt="">
    </div>

    <div class="donator-advantages-right">
      <ul>
        <li>Spread Kindness</li>
        <li>Raise Awareness of Homelessness</li>
        <li>Help Someone Back on Their Feet</li>
      </ul>
    </div>
</div>

<!-- Testimonial Section -->
<div class="reviews">
    <i class="fas fa-quote-left"></i>

    <div class="review">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere aliquid distinctio vitae nisi quae nemo?</p>
      <p>- John Doe Nowhere, USA</p>
    </div>

    <div class="review">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere aliquid distinctio vitae nisi quae nemo?</p>
      <p>- Jane Doe Nowhere, USA</p>
    </div>

    <div class="review">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere aliquid distinctio vitae nisi quae nemo?</p>
      <p>- John Doe Nowhere, USA</p>
    </div>

    <i class="fas fa-quote-right"></i>
</div>

<footer class="footer">
    <p>UpOnYourLuck - All rights reserved</p>
</footer>

<script src="https://kit.fontawesome.com/090f6f902d.js" crossorigin="anonymous"></script>