

<!-- Up On Your Luck Title -->
<div class="container-wrap">
  <div  id="jumbotron-container">
    <div class="jumbotron">
        <h1 class="display-4 fw-bold" id="landing-page-title" style="text-align: center; padding-top: 1em; color: #26dda6;">Up On Your Luck</h1>
        <p class="lead" style="text-align: center;">Lending a helping hand to those in need.</p>
        <hr class="my-4">
    </div>
  </div>
  <!-- Banner Section -->
  <div class="register-cta">
      <h1 class="text-color">Tell Your Story<br>Accept Cashless Donations</h1>
      <div id="right-register-buttons">
        <a class="btn btn-lg rounded-pill px-4 btn-floating" href="{% url 'register' %}" role="button">Make a Profile</a>
        <a class="btn btn-lg rounded-pill px-4 btn-floating" href="{% url 'show-all-users' %}" role="button">See Users in the Area</a>
      </div>
  </div>

  <!-- Homeless Reasons to Sign up -->
  <div class="homeless-advantages">
    <div class="homeless-advantages-left">

      <ul>
          <h2 id="homeless-advantages-title">How can this app help you?</h2>
          <li>Gives passersby a chance to give you a donation when they have no cash.</li>
          <li>Gives you a chance to tell the world who you are, and how you got in your current situation.</li>
      </ul>
    </div>

    <div class="homeless-advantages-right">
      <img src="/media/home_page/hands-qr-code.jpg" alt="Scanning QR code" width="600" height="400">
    </div>

  </div>

   <!-- About Section -->
   <div class="business-process">
    <h2 class="">How It Works</h2>
    <ol>
      <li id="business-process-li-1"><i class="fas fa-qrcode"></i><span><a href="{% url 'register' %}">Create a Profile</a></span> and add a photo, biography, and CashApp or Venmo link to your profile page.</li>
      <li id="business-process-li-1"><i class="fas fa-laptop-house"></i>Request your personalized QR Coded Sticker or print one yourself.</li>
      <li id="business-process-li-1"><i class="fas fa-qrcode"></i>Place the QR Code Sticker on any sign while you are busking, or asking for donations.</li>
      <li id="business-process-li-1"><i class="fas fa-mobile-alt"></i>When a Passerby scans your code, they will be taken to your profile page.</li>
      <li id="business-process-li-1"><i class="fas fa-qrcode"></i>Need Help? <span><a href="{% url 'contact' %}">Click Here</a></span>.</li>
    </ol>
</div>
</div>

 

  


<!-- Let's add this back in once we get some actual testimonials -->
<!--
Testimonial Section
<div class="reviews">
    <i class="fas fa-quote-left"></i>

    <div class="review">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere aliquid distinctio vitae nisi quae nemo?</p>
      <p>- John Doe Nowhere, USA</p>
    </div>

    <div class="review">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere aliquid distinctio vitae nisi quae nemo?</p>
      <p>- Jane Doe Nowhere, USA</p>
    </div>

    <div class="review">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere aliquid distinctio vitae nisi quae nemo?</p>
      <p>- John Doe Nowhere, USA</p>
    </div>

    <i class="fas fa-quote-right"></i>
</div>
-->

<footer class="footer" style="background: #222224;">
    <p>UpOnYourLuck - All rights reserved</p>
</footer>

<script src="https://kit.fontawesome.com/090f6f902d.js" crossorigin="anonymous"></script>
