{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/user_styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
        
{% endblock %}
{% block content %}

<div class="container-fluid">
    {% if user.last_login|date:"SHORT_DATETIME_FORMAT" == user.date_joined|date:"SHORT_DATETIME_FORMAT" or user.last_login == None %}
        <input type="hidden" value='true' id="id_qr_prompt">
    {% endif %}
    <div class="row" style="padding-bottom: 3rem;">
        <div class="col-lg-7 mx-auto text-center pt-5">
            <h1 class="display-4" id="dashboard-banner" style="color: #CDD1CC;">Welcome to your personal Dashboard.</h1>
            <p class="lead mb-0" style="color: #CDD1CC;">Manage your account here.</p>
        </div>
    </div>
    <div class="row d-flex justify-content-center align-items-center" id="card-container">
        <div class="col-lg-2 col-sm-6 card-item">
            <div class="circle-tile ">
                <a href="{% url 'view_followers' %}"><div class="circle-tile-heading dark-blue"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
                <div class="circle-tile-content dark-blue overflow-hidden" style="border-radius: 1rem;">
                    <div class="circle-tile-description text-faded"> Followers </div>
                    <div class="circle-tile-number text-faded ">{{user_followers}}</div>
                    <a class="circle-tile-footer" href="{% url 'view_followers' %}">View</a>
                </div>
            </div>
        </div>
     
        <div class="col-lg-2 col-sm-6 card-item">
            <div class="circle-tile ">
                <a href="{% url 'view_following' %}"><div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
                <div class="circle-tile-content red overflow-hidden" style="border-radius: 1rem;">
                    <div class="circle-tile-description text-faded"> Following </div>
                    <div class="circle-tile-number text-faded ">{{user_following}}</div>
                    <a class="circle-tile-footer" href="{% url 'view_following' %}">View</a>
                </div>
            </div>
        </div> 
     
        <div class="col-lg-2 col-sm-6 card-item">
            <div class="circle-tile ">
                <a href="{% url 'sticker_index' %}"><div class="circle-tile-heading yellow "><i class="fa-solid fa-qrcode fa-fw fa-3x" style="transform: translateY(0.8rem);"></i></div></a>
                <div class="circle-tile-content yellow overflow-hidden" style="border-radius: 1rem;">
                    <div class="circle-tile-description text-faded text-black"> QR Scans </div>
                    <div class="circle-tile-number text-faded text-black fw-bold">{{qr_scans}}</div>
                    <a class="circle-tile-footer text-black" href="{% url 'sticker_index' %}">View Code</a>
                </div>
            </div>
        </div>
     
        <div class="col-lg-2 col-sm-6 card-item">
            <div class="circle-tile ">
                <a href="{% url 'profile' %}"><div class="circle-tile-heading orange"><i class="fa-solid fa-user fa-fw fa-3x" style="transform: translateY(0.6rem);"></i></div></a>
                <div class="circle-tile-content orange overflow-hidden" style="border-radius: 1rem;">
                    <div class="circle-tile-description text-faded text-black"> Profile </div>
                    {% if current_user.username|length > 10 %}
                        <div class="circle-tile-profile text-faded fw-bold text-black" style="overflow-wrap: break-word;">@{{current_user}}</div>
                    {% else %}
                        <div class="circle-tile-number text-faded fw-bold text-black">@{{current_user}}</div>
                    {% endif %}
                    <a class="circle-tile-footer text-black" href="{% url 'update_profile' %}">Update</a>
                </div>
            </div>
        </div> 
  </div> 
</div>  
<!-- QR Prompt -->
<div class="modal fade" id="newMainModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content" style="background-color: #202123; width: 100%;">
            <form method="post" enctype="multipart/form-data" action="new_main_subject">
                {%csrf_token%}
                <!-- <input type="hidden" name="category" value="{{category}}" readonly/> -->
                <div class="modal-header text-white" style="background-color: #bb86fc;">
                    <h6 class="modal-title mb-0" id="threadModalLabel">Welcome</h6>
                    <button type="button" class="btn-close btn-danger-soft" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row gx-3 mb-3 text-center">
                        <div class="mb-3">
                            <h5 class="display-6 text-white">Welcome to UpOnYourLuck!</h5>
                            <p class="text-muted">This is your QR Code. You can click the Print Code button below to print it.</p>
                        </div>
                        <div class="mb-3">
                            <img src="/media/qr_code/{{current_user}}.jpg">
                        </div>
                    </div>
                    <textarea class="form-control summernote" style="display: none;"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning fw-bold" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="printImg('/media/qr_code/{{ current_user }}.jpg')">Print Code</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="{% static 'user/user_app.js' %}"></script>
{% endblock %}

