{% extends "base.html" %}

{% load static %}

{% block css %}
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
    <link rel="stylesheet" type="text/css" href="{% static '/user/user_styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
{% endblock %}
{% block content %}

<div class="container h-75">
    <div class="row h-100">
        <div class="col-lg-5 col-md-7 mx-auto my-auto">
            <div class="card">
                <div class="card-body px-lg-5 py-lg-5 text-center">
                    <img src="{{user.profile.profile_img.url}}" class="rounded-circle avatar-lg img-thumbnail mb-4" alt="profile-image">
                    <h5 class="text-white pb-4 fw-bold">
                        @{{user.username}}
                    </h5>
                    <h2 class="" style="color: #26dda6;">Authenticator</h2>
                    <p class="mb-4 text-secondary">Please enter the 6-digit code we sent you.</p>
                    <form method="post" action="login_verification">
                        {% csrf_token %}
                        <input type="hidden" name="user_id" value="{{user_id}}" readonly/>
                        <input type="hidden" id="visitor_id" name="visitor_id" value="" readonly/>
                        <div class="row mb-4" id="container">
                            <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                                <input type="text" id="digit1" name="digit1" class="form-control text-lg text-center" placeholder="-" aria-label="2fa" maxlength="1" inputmode="NUMERIC" pattern="[0-9]*" autocomplete="one-time-code">
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                                <input type="text" id="digit2" name="digit2" class="form-control text-lg text-center" placeholder="-" aria-label="2fa" maxlength="1" inputmode="NUMERIC" pattern="[0-9]*" autocomplete="one-time-code">
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 ps-0 ps-md-2">
                                <input type="text" id="digit3" name="digit3" class="form-control text-lg text-center" placeholder="-" aria-label="2fa" maxlength="1" inputmode="NUMERIC" pattern="[0-9]*" autocomplete="one-time-code">
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                                <input type="text" id="digit4" name="digit4" class="form-control text-lg text-center" placeholder="-" aria-label="2fa" maxlength="1" inputmode="NUMERIC" pattern="[0-9]*" autocomplete="one-time-code">
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                                <input type="text" id="digit5" name="digit5" class="form-control text-lg text-center" placeholder="-" aria-label="2fa" maxlength="1" inputmode="NUMERIC" pattern="[0-9]*" autocomplete="one-time-code">
                            </div>
                            <div class="col-lg-2 col-md-2 col-2 pe-0 pe-md-2">
                                <input type="text" id="digit6" name="digit6" class="form-control text-lg text-center" placeholder="-" aria-label="2fa" maxlength="1" inputmode="NUMERIC" pattern="[0-9]*" autocomplete="one-time-code">
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-lg my-4" style="background-color: #26dda6; font-weight: bold;">Continue</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'user/login_verify.js' %}"></script>
{% endblock %}