{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/user/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
{% endblock %}

{% block content %}

<div class="mask d-flex align-items-center h-100 bg-dark">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 20px;">
          <div class="card-body p-5">
            {% if not user.is_authenticated %}
              <h2 class="text-center mb-5">Login</h2>

              <form method="POST">
                {% csrf_token %}

                <div class="form-outline mb-3">
                  <label class="form-label" for="form3Example1cg">Username</label>
                  {{ login_form.username }}
                </div>

                <div class="form-outline mb-3">
                  <label class="form-label" for="form3Example1cg">Password</label>
                  {{ login_form.password }}
                </div>

                <div class="form-check d-flex justify-content-center mb-2"></div>

                <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary rounded-pill btn-outline-dark text-white">Login</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a href="{% url 'register' %}" class="fw-bold text-body"><u>Sign up</u></a></p>

              </form>
            {% else %}
              <h2 class="text-center mb-5">You're already logged in.</h2>
              <p class="text-center text-muted mt-5 mb-0">Click <a href="{% url 'profile' %}" class="fw-bold text-body"><u>here</u></a> to go to your profile</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
