{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- For demo purpose -->
<div class="row">
    <div class="col-lg-7 mx-auto text-center pt-5">
        <h1 class="display-4">Hello, welcome to my profile, and thanks for scanning.  My name is {{ current_user }}</h1>
    </div>
</div><!-- End -->


<div class="row py-5 px-4">
    <div class="col-xl-4 col-md-6 col-sm-10 mx-auto">

        <!-- Profile widget -->
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 bg-dark">
                <div class="media align-items-end profile-header">
                        <div class="profile mr-3">
                                <img src="{{ profile_img.url }}" alt="..." width="130" class="rounded mb-2 img-thumbnail">
                        </div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{ current_user }}</h4>
                        <p class="small mb-4"> <i class="fa fa-map-marker mr-2"></i>My City, USA</p>
                    </div>
                </div>
            </div>


            <div class="py-4 px-4">
                <div class="py-4">
                    <h5 class="mb-3">My Story</h5>
                    <div class="p-4 bg-light rounded shadow-sm">
                        <p class="font-italic mb-0">{{ life_story }}</p>
                    </div>
                </div>
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <h5 class="mb-0">Donation Link</h5>
                </div>
                <div class="row">
                    <a href="{{ payment_link_url }}" target="_blank"><img src="https://res.cloudinary.com/crunchbase-production/image/upload/c_lpad,h_256,w_256,f_auto,q_auto:eco,dpr_1/r0mqzkkha3nmbnsvodqm" alt="..."></a>
                </div>

            </div>
        </div><!-- End profile widget -->

    </div>
</div>
{% endblock %}
