{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static '/user/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
	<style>

		.error-message {
			text-align: center;
			color: #dc3545;
		}

		#pw2-err-msg {
			color: #dc3545;
			margin-top: -1rem;
		}
		

	</style>
{% endblock %}

{% block content %}
<div class="mask d-flex align-items-center h-100">
	<div class="container h-100">
		<div class="row d-flex justify-content-center align-items-center h-100">
			<div class="col-12 col-md-9 col-lg-7 col-xl-6">
				<div class="card" style="border-radius: 1rem; background-color: #202123;">
					<div class="card-body p-5">
						{% if errors %}
							<h1 id="error-message" style="display: none;">{{errors}}</h1>
							<script>
								let err = document.getElementById('error-message');
								let errList = err.getElementsByClassName('errorlist');
								
								let errMessage = err.textContent;
								// remove first instance of username
								if(errMessage.substring(0, 8) == 'username') {
									errMessage = errMessage.substring(8);
								}
								// remove first instance of password2
								else if(errMessage.substring(0, 9) == 'password2') {
									errMessage = errMessage.substring(9);
								}
								// check if 2 errors
								let errMessages = errMessage.split('password2');
								if(errMessages.length == 1) {
									errMessages = errMessage.split('usernameA')
									for(let i = 0; i < errMessages.length; i++) {
										errMessages[i] = errMessages[i].trim()
									}
								}
								
							</script>
						{% endif %}
						{% if not user.is_authenticated %}
							
						<h2 class="text-center mb-5" style="color: #CDD1CC;">Create a New Account</h2>
						<form method="POST" class="was-validated row g-2 justify-content-center">
							{% csrf_token %}
								
							<div class="col-md-8">
								<div class="form-floating mb-3">
									{{ register_form.username }}
									<label for="id_username" class="form-label" style="margin-left: 0px; color: #CDD1CC;">Username</label>
									<div class="error-message" id="username-err-msg" aria-live="off">
										<!-- Please enter a username. -->
									</div>
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-floating mb-3">
									{{ register_form.first_name }}
									<label class="form-label" for="id_first_name" style="color: #CDD1CC;">First Name</label>	
									<!-- <div class="invalid-feedback">Please enter your first name.</div> -->
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-floating mb-3">
									{{ register_form.last_name }}
									<label class="form-label" for="id_first_name" style="color: #CDD1CC;">Last Name</label>
									<!-- <div class="invalid-feedback">Please enter your last name.</div> -->
								</div>
							</div>
							<div class="col-md-8">
								<div class="form-floating mb-3">
									{{ register_form.email }}
									<label class="form-label" for="id_email" style="color: #CDD1CC;">Email Address</label>
									<!-- <div class="invalid-feedback">Please enter your email.</div> -->
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-floating mb-3">
									{{ register_form.password1 }}
									<label class="form-label" for="id_password1" style="color: #CDD1CC;">Password</label>
									<div class="error-message" id="pw-err-msg" aria-live="off">

									</div>
								</div>
							</div>
							<div class="col-md-5">
								<div class="form-floating mb-3">
									{{ register_form.password2 }}
									<label class="form-label" for="id_password2" style="color: #CDD1CC;">Repeat Password</label>
									
								</div>
							</div>
							
							<div id="tos-div" class="form-check d-flex justify-content-center mb-5">
								<input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" required/>
								<label class="form-check-label" for="form2Example3g" style="color: #CDD1CC;">
									I agree to all statements in 
									<a href="#!" class="text-body">
										<u style="color: #26dda6">Terms of service</u>
									</a>
								</label>
							</div>
							<div class="d-flex justify-content-center">
								<button type="submit" class="btn btn-primary rounded-pill btn-outline-dark px-4 text-black" style=" background-color: #26dda6;">Register</button>
							</div>
							<p class="text-center mt-5 mb-0" style="color: #CDD1CC;">Already have an account? Great,
								<a href="{% url 'login' %}" class="fw-bold text-body">
									<u style="color: #26dda6">Sign in here!</u>
								</a>
							</p>
						</form>
						{% else %}
							
						<h2 class="text-center mb-5" style="color: #CDD1CC;">You're already logged in.</h2>
						<p class="text-center text-muted mt-5 mb-0">Click <a href="{% url 'profile' %}" class="fw-bold text-body" style="color: #26dda6"><u style="color: #26dda6">here</u></a> to go to your profile</p>
						{% endif %}
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	const userField = document.getElementById('id_username');
	const fNameField = document.getElementById('id_first_name');
	const lNameField = document.getElementById('id_last_name');
	const emailField = document.getElementById('id_email');
	const pwField = document.getElementById('id_password1');
	const pw2Field = document.getElementById('id_password2');
	const fields = [userField, fNameField, lNameField, emailField, pwField, pw2Field]

	// errors
	const userErr = document.getElementById('username-err-msg')
	
	

	const labelsArray = document.getElementsByTagName('label')
	const agreeLabel = labelsArray[labelsArray.length-1];
	const agreeInputCheck = document.getElementById('form2Example3cg');
	const registerBtn = document.getElementsByTagName('button')[1];

	userField.blur()
	

	/* Add functionality to make clicking Agreement text check */
	agreeLabel.addEventListener('click', () => {
		if(!agreeInputCheck.checked) {
			agreeInputCheck.checked = true;
		}
		else {
			agreeInputCheck.checked = false;
		}
	})


		function changeFieldToError(domEle) {
			domEle.style.borderColor = '#dc3545';
			domEle.style.backgroundImage = "url(\"data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e\")";
			domEle.addEventListener('focus', () => {
				domEle.style.boxShadow = '0 0 0 0.25rem rgb(220 53 69 / 25%)'

				})
				domEle.addEventListener('blur', () => {
					domEle.style.boxShadow = 'none'

				})
				domEle.focus();
		}

		function changeFieldToValid(domEle) {
			domEle.style.borderColor = '#198754';
			domEle.style.backgroundImage = "url(\"data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23198754' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e\")"

			domEle.addEventListener('focus', () => {
				domEle.style.boxShadow = '0 0 0 0.25rem rgb(25 135 84 / 25%)'

				})
				domEle.addEventListener('blur', () => {
					domEle.style.boxShadow = 'none'

				})
				domEle.focus();
		}

		function addPasswordError(err) {
			let pwErrMsgDiv = document.createElement('div');
			pwErrMsgDiv.classList.add('form-check')
			pwErrMsgDiv.classList.add('d-flex')
			pwErrMsgDiv.classList.add('justify-content-center')
			pwErrMsgDiv.classList.add('mb-1')
			pwErrMsgDiv.setAttribute("aria-live", "polite")
			pwErrMsgDiv.id = 'pw2-err-msg'
			pwErrMsgDiv.innerText = err
			document.getElementById('tos-div').insertAdjacentElement('beforebegin', pwErrMsgDiv);
		}

	function addUserErr(msg) {
		userErr.textContent = msg
		changeFieldToError(userField);
		userErr.setAttribute('aria-live', 'polite');
		userField.addEventListener('input', () => {
			changeFieldToValid(userField);
			userField.style.boxShadow = '0 0 0 0.25rem rgb(25 135 84 / 25%)'
			userErr.style.display = 'none'
			userErr.setAttribute('aria-live', 'off');
		})
	}

	if(errMessages) {
		// Check for error messages for username
		console.log(errMessages);
		if(errMessages[0].startsWith('A user')) {
			// set the field to invalid basically
			addUserErr(errMessages[0])
		}
		else if(errMessages[0].startsWith("This password") || errMessages[0].startsWith("The two password")) {
			// might need to add more here, if not keeping the default red styles
			pwField.focus();
			addPasswordError(errMessages[0])
			
			
		}
		if(errMessages.length == 2 && (errMessages[1].startsWith("This password") || errMessages[1].startsWith("The two password fields didn't match"))) {
			addPasswordError(errMessages[1]);
		}
		if(errMessages.length == 2 && errMessages[1].startsWith("user")) {
			addUserErr(errMessages[1]);
		}

	}

	function displayUsernameError() {
		const userField = document.getElementById('id_username')
		userField.classList.add('form-is-invalid');
		
	}


	/* Add functionality to check if both passwords are identical */
	// function addRegisterBtn() {
	// 	registerBtn.addEventListener('click', (e) => {
	// 		const password1 = document.getElementById('id_password1')
	// 		const password2 = document.getElementById('id_password2')

	// 		let matches = checkIfPasswordsMatch(password1.value, password2.value) 
	// 		if(!matches) {
	// 			e.preventDefault();
				
	// 			/* display error message to user */

	// 		}
	// 	});
	// }

	// Uncomment line below and function above to work
	// addRegisterBtn();


	// function checkIfPasswordsMatch(str1, str2) {
	// 	if(str1 == str2) {
	// 		return true;
	// 	}
	// 	return false;
	// }
	
</script>

{% endblock %}