{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block title %}Profile Page{% endblock title %}
{% block content %}
<div class="container py-4">
    <form method='POST' enctype="multipart/form-data">
        <p><i>Ignore Photo section if you do not wish to update profile picture.</i></p>
        {%csrf_token%}
        <!-- u_form|crispy -->
        {{p_form|crispy}}
        <button class="btn btn-primary" type='submit'>Update</button>
        <a class="button" href="{% url 'profile' %}">Cancel</a>
    </form>
</div>
{% endblock content %}