#dashboard-banner {
  color: black;
}

html,
body {
  height: 100vh;
  width: 100%;
  background-color: #121212;
  color: #cdd1cc;
}

.form-rounded {
  border-radius: 1rem;
}

.banner-img {
  background-color: #222224;
  height: 900px;
  border-top: 1rem;
  border-color: transparent;
}

#dashboard-banner {
  color: black;
}

#container {
  height: calc(100vh - 66px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-form > textarea {
  resize: none;
}

#inner-form-wrapper {
  width: 50em;
  background-color: #202123;
  border-radius: 2rem;
  border-style: solid;
  border-color: #cdd1cc8e;
  border-width: 0.1rem;
  padding-top: 2em;
  padding-bottom: 2em;
}

#title-form {
  width: 85%;
}

.form-rounded {
  border-radius: 1rem;
}

.form-control {
  background-color: #3b3b3b;
  color: #cdd1cc;
  border-color: transparent;
}

.inner-content {
  width: 80%;
}

.form-control:focus {
  background-color: #3b3b3b; 
  color: #CDD1CC; 
  border-color: transparent;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(4, 236, 198, 0.911);
}

.input-group-text {
  border-radius: 0.5rem;
  background-color: #3b3b3b; 
  color: #CDD1CC; 
  border-color: transparent;
}

.banner-img {
  background-color: #222224;
  height: 900px;
  border-top: 1rem;
  border-color: transparent;
}

#contact-form > * {
  width: 80%;
  margin-top: 0.5em;
}

#title-form {
  margin: 0 auto;
}

#form-submit-btn {
  margin-top: 1.5em;
}

.btn-primary {
  background-color: #26dda6;
  border-color: #22aa81;
  color: #121212;
  font-weight: bold;
}
.btn-primary:hover {
  background-color: rgb(25, 173, 129);
  border-color: #22aa81;
}

.btn-primary:disabled {
  background-color: #26dda6;
  border-color: #22aa81;
  color: #121212;
  font-weight: bold;
}

@media (max-width: 450px) {
  #inner-form-wrapper {
    width: 90%;
    background-color: #202123;
    border-radius: 2rem;
    border-style: solid;
    border-color: #cdd1cc8e;
    border-width: 0.1rem;
    padding-top: 2em;
    padding-bottom: 2em;
  }

}

@media (max-width: 640px) {
  #inner-form-wrapper {
    width: 90%;
    background-color: #202123;
    border-radius: 2rem;
    border-style: solid;
    border-color: #cdd1cc8e;
    border-width: 0.1rem;
    padding-top: 2em;
    padding-bottom: 2em;
  }

}

/* @media only screen and (max-width: 1920px) {
  #inner-form-wrapper {
    height: 50%;
    width: 80%;
    background-color: #202123;
    border-radius: 2rem;
    border-style: solid;
    border-color: #cdd1cc8e;
    border-width: 0.1rem;
    padding-top: 2em;
    padding-bottom: 2em;
  }
} */