#dashboard-banner {
  color: black;
}

html,
body {
  height: 100vh;
  width: 100%;
  background-color: #121212;
}

.form-rounded {
  border-radius: 1rem;
}

.banner-img {
  background-color: #222224;
  height: 900px;
  border-top: 1rem;
  border-color: transparent;
}

#dashboard-banner {
  color: black;
}

#container {
  height: calc(100vh - 66px);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contact-form > textarea {
  resize: none;
}

#inner-form-wrapper {
  width: 50em;
  background-color: #292928;
  border-radius: 2rem;
  border-style: solid;
  border-color: #cdd1cc;
  border-width: 0.1rem;
  padding-top: 2em;
  padding-bottom: 2em;
}

#title-form {
  width: 85%;
}

.form-rounded {
  border-radius: 1rem;
}

.banner-img {
  background-color: #222224;
  height: 900px;
  border-top: 1rem;
  border-color: transparent;
}

#contact-form > * {
  width: 80%;
  margin-top: 0.5em;
}

#title-form {
  margin: 0 auto;
}

#form-submit-btn {
  margin-top: 1.5em;
}

@media (max-width: 450px) {
}

@media only screen and (min-width: 1440px) {
}
