{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'welcome/styles.css' %}??{% now 'U' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'welcome/about_us_styles.css' %}??{% now 'U' %}" />
    
{% endblock %}

{% block content %}

<!-- Feel free to add to this, probably needs more imagery - Seth -->
<div class="about-us-container">
    <div class="about-us-inner-container">
        <div class="about-description about-component">
            <div class="about-description-main">
                <p>UpOnYourLuck was created as a final capstone project by a team of computer science students at Wake Technical Community College in Raleigh, North Carolina.</p>
                <p>UpOnYourLuck assists those who are facing homelessness by providing a platform to share their story and receive donations from those willing to give.</p>
                <p>Despite being a school project, UpOnYourLuck is a serious undertaking for us. </p>
                <p>There is full intention to bring this project to fruition, we feel it would be a vital resource to people who so often desperately need vital resources.</p>
            </div>
            
            <div class="about-description-quote">
                <h2>"How can you save the world you have not seen if you can't save the community you have seen?.” - Pete Seeger</h2>
            </div>
        </div>
        
        <div class="contributors-container about-component">
            <div class="contributors-title">
                <h1>Our Team</h1>                      
            </div>
            <div class="contributors-description">
                <!-- Maybe link our githubs here? and/or add profile shots - Seth -->
                <div class="contrib-author">
                    <div class="contrib-author-name">
                        Benjamin Walters 
                    </div>
                    <div class="contrib-author-links">
                        <a href="#"><i class="fa-brands fa-github"></i></a> 
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a> 
                    </div>
                </div>
                <div class="contrib-author">
                    <div class="contrib-author-name">
                        Lucas Collins
                    </div>
                    <div class="contrib-author-links">
                        <a href="#"><i class="fa-brands fa-github"></i></a> 
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a> 
                    </div>
                </div>
                <div class="contrib-author">
                    <div class="contrib-author-name">
                        Andrew Hughes
                    </div>
                    <div class="contrib-author-links">
                        <a href="#"><i class="fa-brands fa-github"></i></a> 
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a> 
                    </div>
                </div>
                <div class="contrib-author">
                    <div class="contrib-author-name">
                        Gabriela Rojas
                    </div>
                    <div class="contrib-author-links">
                        <a href="#"><i class="fa-brands fa-github"></i></a> 
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a> 
                    </div>
                </div>
                <div class="contrib-author">
                    <div class="contrib-author-name">
                        Seth Butler-Hargett
                    </div>
                    <div class="contrib-author-links">
                        <a href="#"><i class="fa-brands fa-github"></i></a> 
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a> 
                    </div>
                </div>
                
            </div>
        </div>
        <div class="how-to-help-container about-component">
            <div class="how-to-help-title">
                <h1>How You Can Help</h1>
            </div>
            <div class="how-to-help-description">
                <div class="how-to-help-section" id="how-to-help-1">
                    <p>Please reach out to us using our contact form at the top of the page if you would like to help!</p>
                    <p>We are going to need YOUR help to bring this to the people who need it.</p>
                </div>
                <div class="how-to-help-section" id="how-to-help-2">
                    <h3>If you're associated with a shelter, food bank, library, or school</h3> 
                    <p>Publicly advertising our platform for people who may need it. Not everyone has access to a printer and local resources that do will be vital in ensuring the success of UpOnYourLuck.</p>
                    <p>Volunteering to get these QR codes and the knowledge of their existence into the hands of the people who need them</p>
                </div>
                
                <div class="how-to-help-section" id="how-to-help-3">
                    <h3>If you just want to help people in need</h3>
                    <p>Print QR codes for those who need them!</p>
                    <p>Keep an eye out for those QR codes! Give when you can!</p>
                    <p>Donate to food banks and local shelters!</p>
                </div>
                
                <!-- <p>Most Importantly-</p>
                <h2><em>Lend a Helping Hand</em></h2> -->
            </div>
        </div>
    </div>
    
</div>


{% endblock content %}


