{% extends 'welcome/welcome_base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'welcome/show_all_users.css' %}"/>
{% endblock %}

{% block content %}
<div class="container">
    <div class="main-body">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 gutters-sm">
            {% for user in list_of_users %}
                <div class="col mb-3">
                    <div class="card" style=" overflow: hidden;">
                    <img src="/media/banner_imgs/banner{{ num_list|random }}.jpg" alt="Cover" class="card-img-top">
                    <div class="card-body text-center">
                        <img src="{{user.profile.profile_img.url}}" style="width:100px;margin-top:-60px;" alt="User" class="rounded mb-2 img-thumbnail">
                        <h5 class="card-title" style="color: black;">{{ user.first_name }} {{user.last_name}}</h5>
                        <p class="text-secondary mb-1">@{{user.username}}</p>
                        <p class="text-muted font-size-sm">{{ user.profile.city }}, {{user.profile.state}}</p>
                    </div>
                    <div class="card-footer" style="justify-content: center;">
                        <a href="{% url 'visitor_to_profile' user.username %}" class="btn btn-primary rounded-pill btn-outline-dark text-white btn-sm">View Profile</a>
                        <form action="followers_count" method="POST">
                            {%csrf_token%}
                            <input type="hidden" name="following" value="{{current_user}}" readonly/>
                            <input type="hidden" name="follower" value="{{user.username}}" readonly/>
                            {% if follow_btn == 'follow' %}
                                <button class="btn btn-dark btn-sm btn-outline-light has-icon ml-2 rounded-pill" type="button"><i class="fa-solid fa-user-plus"></i></button>
                            {% else %}
                                <button class="btn btn-dark btn-sm btn-outline-light has-icon ml-2 rounded-pill" type="button"><i class="fa-solid fa-user-minus"></i></button>
                            {% endif %}
                        </form>
                    </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}