.about-us-container {
  background-image: url("background-images/aboutus_royaltyfree.jpg");
  background-position: 20% 85%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  background-size: cover;
  width: 100%;
  font-size: 1.5rem;
  padding: 0 1em;
}

.about-us-inner-container {
  background-color: #202123d3;
}

.about-description {
  display: flex;
}

.about-description-main p {
  margin: 0 1em 1em 0;
}

.about-description-quote h2 {
  font-weight: 700;
  margin: 0 1em 0 1em;
}

.about-component {
  margin: 2em 0;
}

.contributors-description {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.how-to-help-description {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em;
  margin-top: 1.5em;
}

.contributors-title h1 {
  text-align: center;
}

.how-to-help-title h1 {
  text-align: center;
}

.contrib-author-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}

.contrib-author-name {
  margin-top: 1.5em;
  text-align: center;
}
