.about-us-container {
  background-image: url("background-images/homeless-woman.jpg");
  background-position: 2% 20%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  background-size: cover;
  width: 100%;
  font-size: 1.5rem;
  padding: 1%;
}

.about-us-inner-container {
  background-color: #202123d3;
  padding: 1%;
}

.about-description {
  display: flex;
}

.about-description-main p {
  margin: 0 1em 1em 1em;

}

.about-description-quote h2 {
  font-weight: 700;
  margin: 0 1em 0 1em;
}

.contributors-container {
  margin-top: 2em;
}

.contributors-description {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.how-to-help-description {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1em;
  margin: 1.5em 0.5em 0 0.5em;
}

.how-to-help-container {
  margin-top: 2em;
}

.contributors-title h1 {
  text-align: center;
}

.how-to-help-title h1 {
  text-align: center;
}

.contrib-author-links {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}

.contrib-author-name {
  margin-top: 1.5em;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .about-description {
    flex-direction: column;
  }

  .contributors-description {
    grid-template-columns: auto auto;
  }

  .how-to-help-description {
    grid-template-columns: auto;
  }
}
