#dashboard-banner {
  color: black;
}

html,
body {
  height: 100vh;
  width: 100%;
  background-color: red;
}

.form-rounded {
  border-radius: 1rem;
}

.banner-img {
  background-color: #222224;
  height: 900px;
  border-top: 1rem;
  border-color: transparent;
}
