{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link id="dark-theme-style" rel="stylesheet" />
    <style>
        /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
    </style>
{% endblock %}

<nav class="navbar navbar-inverse navbar-expand-md navbar-dark navbar-fixed-top" style="background-color: #222224;">
    <div class="container-fluid">

    
    <!-- Home Page Link Text -->
    <div class="navbar-header text-color">
        <a class="navbar-brand" href="{% url 'welcome_index' %}"><img src="/media/home_page/UpOnYourLuck_Logo_transparent.png" style="width: 75px; height: 50px">UpOnYourLuck</a>
    </div>

    <!-- Toggle Button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu"
        aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Logic to display dynamic data based on user authentication -->
        <div class="collapse navbar-collapse" id="navbarMenu">
            {% if user.is_authenticated %}
                <ul class="navbar-nav ml-auto">
                    <li class="active nav-item"><a class="nav-link text-color fw-bold" href="{% url 'welcome_index' %}"><i class="fa-solid fa-house"></i> Home</a></li>
                    <li class="dropdown nav-item ml-auto"><a class="dropdown-toggle nav-link text-color fw-bold" data-bs-toggle="dropdown" href="#"><i class="fa-solid fa-user"></i> Profile <span class="caret"></span></a>
                        <ul class="dropdown-menu nav-item" style="background: #222224;">
                            <li class="nav-item">
                                <a class="nav-link text-color fw-bold" href="{% url 'user_dashboard' %}">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-color fw-bold" href="{% url 'profile' %}">View Profile</a>
                            </li>
            
                            <li class="nav-item">
                                <a class="nav-link text-color fw-bold" href="{% url 'update_profile' %}">Update Profile</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-color fw-bold" href="{% url 'logout' %}"><i class="fa-solid fa-right-to-bracket"></i> Logout</a>
                    </li>
                </ul>
            {% else %}
                <ul class="navbar-nav navbar-right ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-color fw-bold" href="{% url 'register' %}"><i class="fa-solid fa-user"></i> Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-color fw-bold" href="{% url 'login' %}"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                    </li>
                </ul>
            {% endif %}
        </div>
    </div>
</nav>