{% extends 'base.html' %}
{% block content %}
    <div style="padding-top: 0.5rem; padding-left: 1rem;">
        <p>This is my QR Code that you scanned!</p>
        <p>Thank you very much!</p>
        <p>Please Share My QR Code.</p>
        <div>
            <img src="/media/qr_code/{{ username }}.jpg" id="qr_code" alt="..." width="450" class="rounded mb-2 img-thumbnail">
        </div>

        {% if user.is_staff %}
            <a class="btn btn-warning" href="{% url 'regenerate_user_qr_code' username %}">Regenerate QR Code</a>
        {% endif %}
        
        <a class="btn btn-primary" onclick="printImg('/media/qr_code/{{ username }}.jpg')">Print QR Code</a>
    </div>

    <script>
        function printImg(url) {
            var win = window.open('');
            win.document.write('<img src="' + url + '" height="80%" style='+'"' + 'display: block; margin-left: auto; margin-right: auto;'+'" onload="window.print();window.close()" />');
            win.focus();
        }
    </script>

    <style>
        body {
            height: 100%;
            width: 100%;
            background-color: #121212;
            color: #CDD1CC;
        }
        .btn-warning {
            font-weight: bold;
        }
        .btn-primary {
            background-color: #26dda6;
            border-color: #22aa81;
            color: #121212;
            font-weight: bold;
        }
        .btn-primary:hover {
            background-color: rgb(25, 173, 129);
            border-color: #22aa81;
        }
    </style>

{% endblock %}