{% extends 'base.html' %}
{% block css %}
    
{% endblock %}
{% block content %}
{% load static %}
<style>
    body {
        background-color: #121212;
    }

    .outer-container-wrap {
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }

    #author {
        color: white;
    }

    .container-wrap {
        
        width: 100%;
        height: 50vh;
        background-image: url('/media/banner_imgs/server-error.jpg');

        /* Used this URL for debugging */
        /* background-image: url('https://demo-andyh59-ccp-cloudfront.s3.amazonaws.com/server-error.jpg'); */
        background-size: cover;
        background-position: center;
    }

    @media only screen and (max-width: 700px) {
        .container-wrap {
            
            background-size: contain;
            height: 30vh;
            background-repeat: no-repeat;
        }
    }

    

    
</style>
<div class="outer-container-wrap">
    <div class="container-wrap">
        
    </div>
    <a href="http://www.freepik.com" id="author">Designed by macrovector / Freepik</a>

</div>

{% endblock %}