<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Up On Your Luck</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/media/home_page/UpOnYourLuck_Logo_transparent.jpg">
    <title>
        UpOnYourLuck - {% block title %}{% endblock %}
    </title>

    <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
    {# Load the tag library #}
    {% load bootstrap5 %}

    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}

    {% block css %}
    {% endblock %}


</head>

<body>

{% block navbar %}
    {% include 'includes/navbar.html' %}
{% endblock %}

{% block content %}
{% endblock %}


</body>
</html>
