<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Up On Your Luck</title>
    {# Load the tag library #}
{% load bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block css %}
{% endblock %}
</head>
<body style="padding: 2px">


{% block navbar %}
{% include 'includes/navbar.html' %}
{% endblock %}


{% block content %}
{% endblock %}


</body>
</html>
